body{
	background-color: rgb(104, 187, 285);
	padding: 20px;
}

#header{

	background-color: grey;
	width: 98%;
	border: 2px solid black;
	margin-left: 1%;
	margin-right: 10%;
	padding-left: 5px;
}

#container {
	background-color: grey;
	width: 98%;
	margin-top: 50px;
	margin-left: 1%;
	border: 2px solid black;
}

#left-box {
	background-color: rgb(9,30,45);
	color: white;
	width: 20%;
	padding: 5px;
	margin-top: 20px;
	margin-left: 2%;
	padding-bottom: 7.5%;
	margin-bottom: 20px;
	border: 2px solid black;
	float: left;


}
#left-box img {
	width: 50%;
	height: 50%;
}

#right-box{
 background-color: rgb(9,30,45);
 width: 70%;
 border: 2px solid black;
 margin-left: 25%;
 margin-top: 20px;
 margin-bottom: 20px;
padding: 10px;
}

#experiences-box{

	background: white;
	border: 2px solid black;
	padding: 10px;
}

.experience{
	background-color: red;
	color: white;
	border: 1px solid black;
	padding: 3px;
}


#studies-box{

	background: white;
	border: 2px solid black;
	padding: 10px;
	margin-top: 10px;
}

.study{
	background-color: red;
	color: white;
	border: 1px solid black;
	padding: 3px;
}


.clearfix {
	clear: both;
}


#footer{
	background-color: grey;
	border: 2px solid black;
	margin-top: 20px;
	margin-right: 20px;
	margin-left: 20px;
	padding: 7px;

}

